* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	background: #efeaea;
	display: flex;
	min-height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.cardArea {
	background: #fff;
	min-width: 50%;
	min-height: 30vh;
	border-radius: 10px;
	box-shadow: 5px 5px 13px #3c3c3c, -4px -3px 16px #3c3c3c;
}
